<div class="voting-player-view">
  <div ng-show="!holdView">
    <p> Current Round: {{ currentRound }} </p>

    <p class="question">{{question}}</p>

    <p>Pick your favorite answer!!!</p>

    <div class="answers">
      <div ng-repeat="answer in answers | filter:filterPlayer" ng-click="chooseAnswer(answer.playerKey)">
       &bull; {{answer.response}}
      </div>
    </div>

    <span class="timer">{{timeLeft.$value}}</span>
  </div>

    <div class="wait" ng-show="holdView">
      Waiting for other players to vote . . .
    </div>
</div>
