/**
*   Styles for Exposed Web App.   
*/

/* Import and reset CSS styles before we do anything else. */
@import url("normalize.min.css");

html {
  font-size: 1em;
}

/*******************************************
   Global Styles
 *******************************************/

body {
  background-color: #000;
  color: #fff;
  font-family: 'Sigmar One', cursive;
  font-size: 5vh;
}

.main-container {
  margin: 0 auto 0 auto;
  text-align: center;
  width: 100%;
}

h1, h2, p {
  margin: 0;
}

a:link, a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #00CED1;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 15px 45px;
  font-size: 4vh;
  line-height: .8;
  box-shadow: none;
  border-radius: 0;
}

button:focus {
  outline: none
}

footer {
  bottom: 5%;
  font-size: 3vh;
  text-align: center;
  position: fixed;
  width: 100%;
}

input {
  color: #000;
}

#go-button {
  bottom: 20%;
  margin: 0 auto 0 auto;
  text-align: center;
  position: absolute;
  width: 100%;  
}
/*******************************************
   HOST: Home view
 *******************************************/

#home-view {          
   height: 50vh;
   margin: 20vh 0 0 0;
   text-align: center;
}

#title {
  font-size: 25vh;
  padding: 0;
}

/*******************************************
   HOST: Create New Game view
 *******************************************/

#create-host-view {          
  height: 50vh;
  margin: 8vh 0 0 0;
  text-align: center;
}

#create-host-view ul {
  -moz-column-count: 2;
  -moz-column-gap: 2.5em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2.5em;
  column-count: 2;
  column-gap: 2.5em;
  margin: 0 auto 0 auto;
  padding: 10px;
  text-align: center;
  width: 75%;
}

#create-host-view p {
  padding: 0;
}

#game-code {
  color: #0099FF;
  font-size: 15vh;
  margin: 0;
  padding: 0;
}


/*******************************************
   Shared view elements between host and player
 *******************************************/

 #current-round {
  font-size: 5vh;
  padding: 0 0 50px 0;
  text-align: left;
 }

/*******************************************
   Host Question Display view
 *******************************************/

 #question-host-view {
  height: 50vh;
  margin: 8vh auto 0 auto;
  text-align: center;
  width: 75%;
 }

 #question-host-view #question {
  font-size: 10vh;
  line-height: 10vh;
  padding: 2vh;
  text-align: center;
 }

#question-host-view #timer {
  bottom: 3%;
  font-size: 3vh;
  padding: 2vh;
  position: absolute;
  right: 5%;
 }

/*******************************************
   Player Question view
 *******************************************/

 #question-player-view {
  height: 50vh;
  margin: 8vh auto 0 auto;
  text-align: center;
  width: 80%;
 }

 #question-player-view #current-round {
  font-size: 5vh;
  text-align: left;
 }

  #question-player-view #question {
  font-size: 10vh;
  line-height: 10vh;
  padding: 2vh;
  text-align: center;
 }