/**
*   Styles for Exposed Web App.   
*/

/* Import and reset CSS styles before we do anything else. */
@import url("normalize.min.css");

html {
  font-size: 1em;
}

/*******************************************
   Global Styles
 *******************************************/

body {
  background-color: #000;
  color: #fff;
  font-family: 'Sigmar One', cursive;
  font-size: 5vmin;
}

.main-container {
  margin: 0 auto 0 auto;
  text-align: center;
  width: 100%;
}

h1, h2, p {
  margin: 0;
}

a:link, a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #00CED1;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 15px 45px;
  font-size: 4vh;
  line-height: .8;
  box-shadow: none;
  border-radius: 0;
  background-color: #A0A0A0;
}

button:focus {
  outline: none
}

footer {
  bottom: 5%;
  font-size: 3vh;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

input {
  color: #000;
}

#go-button {
  bottom: 12%;
  margin: 0 auto 0 auto;
  text-align: center;
  position: absolute;
  width: 100%;  
}

ol, ul {
  list-style: none;
}

.host {
  margin: 0 auto 0 auto;
  width: 75%;
}

/*******************************************
   HOST: Home view
 *******************************************/

.home-view {          
   height: 50vh;
   margin: 20vh 0 0 0;
   text-align: center;
}

#title {
  font-size: 15vw;
  padding: 0;
}

/*******************************************
   HOST: Create New Game view
 *******************************************/

#create-host-view {          
  height: 50vh;
  margin: 4vh 0 0 0;
  text-align: center;
}

/*.create-host-view ul {
  -moz-column-count: 2;
  -moz-column-gap: 2.5em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2.5em;
  column-count: 2;
  column-gap: 2.5em;
  margin: 0 auto 0 auto;
  padding: 10px;
  text-align: center;
  width: 75%;
}*/

.create-host-view p {
  padding: 0;
}

#game-code {
  color: #0099FF;
  font-size: 15vmin;
  padding: 0;
}

.current-players {
  color: #00FFFF;
  width: 80%;
  margin: 1vh auto 0 auto;
  font-size: 3vh;
}


/*******************************************
   Shared view elements between host and player
 *******************************************/

.current-round {
padding: 0 0 5vh 0;
text-align: left;
}

.next_timer {
  position: absolute;
  top: 8vh;
  right: 12%;
}

.timer {
  font-size: 5vh;
}

/*******************************************
   Host Question Display view
 *******************************************/

.question-host-view {
height: 50vh;
margin: 8vh auto 0 auto;
text-align: center;
}

.question-host-view .question {
font-size: 10vmin;
line-height: 16vmin;
color: #0099FF;
margin-top: 5vh;
}

/*******************************************
   Host Voting Display view
 *******************************************/

.voting-host-view #current-round {
font-size: 5vh;
padding: 0 0 25px 0;
text-align: left;
}

.voting-host-view {
height: 50vh;
margin: 8vh auto 0 auto;
text-align: center;
}

.voting-host-view #question-voting {
font-size: 5vh;
padding: 2vh;
color: aqua;
line-height: 6vmin;
margin-bottom: 3vh;
}

.voting-host-view #ans {
text-align: center;
margin-bottom: 2vh;
}

.voting-host-view .answers {
color: #0099FF;
}

/*******************************************
   Host Result Display view
 *******************************************/

.voting-host-view #current-round {
font-size: 5vh;
padding: 0 0 25px 0;
text-align: left;
}

.results-host-view {
height: 50vh;
margin: 8vh auto 0 auto;
text-align: center;
}

.results-host-view #question {
font-size: 5vh;
padding: 2vh;
text-align: center;
color: #0099FF;
line-height: 5vmin;
margin-bottom: 3vh;
}

.results-host-view table {
  margin-top: 5vh;
  margin-left: auto;
  width: 100%
}

.results-host-view table tr:nth-child(odd) {
  background-color: #0E1D27;
}

/*******************************************
   Host Final Result view
 *******************************************/

.host-final-result-view {
height: 50vh;
margin: 8vh auto 0 auto;
text-align: center;
width: 80%;
}
.host-final-result-view h1 {
font-size: 8vmin;
line-height: 8vmin;
}

.host-final-result-view .final-results {
line-height: 10vmin;
color: aqua;
margin-top: 7vh;
margin-bottom: 7vh;
}

/*******************************************
   Player: Join view
 *******************************************/

#join-view {          
   margin: 10vh 0 0 0;
   text-align: center;
}

label {
  display: block;
  margin-top: 20px;
}

#join-button {
  margin-top: 30px;
}

/*******************************************
   Player Question view
 *******************************************/

.question-player-view {
height: 50vh;
margin: 8vh auto 0 auto;
text-align: center;
width: 80%;
}

.question-player-view .current-round {
font-size: 5vh;
}

.question-player-view .question {
font-size: 5vh;
line-height: 6vh;
color: #0099FF;
padding: 2vh;
}

.question-player-view button {
  margin-top: 30px;
}

.question-player-view .wait {
  margin-top: 100px;
}

/*******************************************
   Player Voting view
 *******************************************/

.voting-player-view {
height: 50vh;
margin: 8vh auto 0 auto;
text-align: center;
width: 80%;
}

.voting-player-view .question {
line-height: 6vh;
padding: 2vh;
color: aqua;
}

.voting-player-view .answers {
line-height: 7vh;
color: #0099FF;
margin-top: 1vh;
}

.voting-player-view .wait {
  margin-top: 100px;
}

/*******************************************
   Player Result view
 *******************************************/

.result-player-view {
height: 50vh;
margin: 8vh auto 0 auto;
text-align: center;
width: 80%;
}
.result-player-view h1 {
font-size: 8vmin;
line-height: 8vmin;
}

.result-player-view .question {
line-height: 6vmin;
padding: 2vh;
color: aqua;
}

.result-player-view .results {
line-height: 7vmin;
color: #0099FF;
margin-top: 1vh;
margin-bottom: 1vh;
}

/*******************************************
   Player Final Result view
 *******************************************/

.player-final-result-view {          
   height: 50vh;
   margin: 20vh 0 0 0;
   text-align: center;
}
  
.player-final-result-view .verdict {
  font-size: 20vmin;
  padding: 0;
}
